.index{
    position: relative;
    .search{
        position: absolute;
        display: flex;
        left: 0;
        top: 5vw;
        width: 100%;
        height: 10vw;
        z-index: 1;
        padding: 0 5vw;
        box-sizing: border-box;
        .left_search {
            display: flex;
            height: 100%;
            background-color: #fff;
            flex: 1;
            border-radius: 4px;
            .select_area{
                margin-left: 2vw;
                margin-right: 5vw;
                height: 100%;
                line-height: 11vw;
                i{
                    font-size: 12px;
                }
            }
            .search_input{
                height: 100%;
                line-height: 11vw;
                i{
                    vertical-align: bottom;
                }
            }
        }
        .right_maplogo{
            align-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 5vw;
            color: #fff;
            width: 7vw;
            height: 7vw;
            border: 3px solid #fff;
            border-radius: 50%;
            box-sizing: border-box;
        }
    }
    .mid-tab {
        display: flex;
        background-color: #fff;
        padding-bottom: 5px;
        li {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            i {
                font-size: 40px;
                color: #189B78;
                margin-bottom: 8px;
            }
        }
    }
    
    .grid-items {
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 15px;
            h2 {
                font-weight: 600;
            }
        }
        .items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            li{
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 2vw;
                margin-bottom: 3vw;
                width: 45.333vw;
                height: 20vw;
                background-color: #fff;
                font-size: 1.6vw;
                span {
                    display: block;
                    color: #ccc3cc;
                    &:nth-child(1) {
                        font-size: 2vw;
                        font-weight: 600;
                        color: #000;
                    }
                }
                &:nth-child(2n) {
                    margin-left: 3vw;
                }
            }
        }
    }
}