.map {
    padding-top: 50px;

    .am-navbar {
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
        background-color: #F5F5F9;
    }

    #container {
        width: 100vw;
    }

        .map_overlay {
            width: 20vw;
            height: 20vw;
            background-color: #21b97a;
            text-align: center;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
        }

        .map_overlay_15{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 8vw;
            // width: 25vw;
            padding: 0 3vw;
            background-color: #21b97a;
            color: #fff;
            &>div:first-child {
                margin-right: 5px;
            }
        }

}