.filtermore {
    position: relative;
    overflow: hidden;
    float: right;
    width: 80%;
    height: calc(100vh - 90px);
    background-color: #fff;
    transition: transform .3s;
    transform: translateX(1000px);

    .filterfooter {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.filtermore_active {
    transform: translateX(0);
}